.topbar {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .topbarWrapper {
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
  }
  
  .topRight{
      display: flex;
      align-items: center;
  }
  button{
      background-color: black;
      border-radius: 10px;
      color: white;
  }
  