.logo {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-shadow: whitesmoke;
}
.ta-Sider {
  background: #002b49;
  color: white;
  font-weight: 500;
  font-size: 15px;
}
.ta-menu {
  background: #002b49;
  color: white;
  font-weight: 500;
  font-size: 15px;
}
